In [1]:
import sys

sys.path.append('../lib')
sys.path.append('../src')

In [2]:
import train

from train import datautils

In [3]:
data = datautils.Data.from_ticker('VALE3.SA')

[*********************100%***********************]  1 of 1 completed

In [4]:
data.train

Price           Close
Ticker       VALE3.SA
Date
2020-07-29  62.950001
2020-07-30  61.270000
2020-07-31  60.709999
2020-08-03  60.259998
2020-08-04  60.700001
...               ...
2024-01-22  67.800003
2024-01-23  69.199997
2024-01-24  69.900002
2024-01-25  68.180000
2024-01-26  69.500000

[869 rows x 1 columns]

In [5]:
datasets, scaler = datautils.normalize_and_split(data)

In [6]:
model = train.train(datasets)

Epoch 1/50

/Users/thiago/Developer/personal/fiap-mle-unit-4/.venv/lib/python3.11/site-packages/keras/src/layers/rnn/rnn.py:199: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

26/26 ━━━━━━━━━━━━━━━━━━━━ 1s 20ms/step - loss: 0.1248 - val_loss: 0.0097
Epoch 2/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - loss: 0.0102 - val_loss: 0.0033
Epoch 3/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - loss: 0.0083 - val_loss: 0.0020
Epoch 4/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0070 - val_loss: 0.0032
Epoch 5/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0079 - val_loss: 0.0023
Epoch 6/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0066 - val_loss: 0.0019
Epoch 7/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0063 - val_loss: 0.0026
Epoch 8/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0058 - val_loss: 0.0025
Epoch 9/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0063 - val_loss: 0.0022
Epoch 10/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0057 - val_loss: 0.0016
Epoch 11/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0051 - val_loss: 0.0027
Epoch 12/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0057 - val_loss: 0.0016
Epoch 13/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0063 - val_loss: 0.0026
Epoch 14/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0055 - val_loss: 0.0021
Epoch 15/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0056 - val_loss: 0.0016
Epoch 16/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0055 - val_loss: 0.0010
Epoch 17/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0048 - val_loss: 0.0018
Epoch 18/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0051 - val_loss: 0.0014
Epoch 19/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0049 - val_loss: 0.0011
Epoch 20/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0049 - val_loss: 0.0015
Epoch 21/50
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 0.0047 - val_loss: 0.0012

In [7]:
metrics = train.evaluate_model(model, datasets, scaler)

3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 48ms/step

In [8]:
metrics

{'MAE': 1.8043490483210638,
 'RMSE': np.float64(2.130484971746456),
 'MAPE': np.float64(3.4054277727829194)}

In [10]:
data.train

Price           Close
Ticker       VALE3.SA
Date
2020-07-29  62.950001
2020-07-30  61.270000
2020-07-31  60.709999
2020-08-03  60.259998
2020-08-04  60.700001
...               ...
2024-01-22  67.800003
2024-01-23  69.199997
2024-01-24  69.900002
2024-01-25  68.180000
2024-01-26  69.500000

[869 rows x 1 columns]